<%= render 'errors', resource: @comment %>

<%= form_for [@article, @comment] do |f| %>
  <div class: 'form-group'>
    <%= f.label :commenter %>
    <%= f.text_field :commenter, class: 'form-control' %>
  </p>
  <div class: 'form-group'>
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
  </p>
  <p>
    <%= f.submit nil, class: 'btn btn-success' %>
  </p>
<% end %>
