<%= link_to 'Back', articles_path %>
<p>
  <strong>Title</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h3>Add comment</h3>
<%= render 'comments/form' %>

<h2>Comments</h2>
<%= render @article.comments %>
