<%= link_to 'Back', articles_path, class: 'btn btn-secondary' %>
<p>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4"><%= @article.title %></h1>
      <p class="lead"><%= @article.text %>
        <p>Author: <%= @article.user&.email %></p>
        <p><strong>Tags: </strong><%= @article.tags.join(', ') %></p>
        <span id='like_action'>
          <% if @like %>
          <%= like_destroy_link(@article, @like) %>
            <% else %>
              <%= like_create_link(@article) %>
          <% end %>
        </span>
        (<span id='likes_count'><%= @article.likes.count %></span>)

        <% if @article.image.attached? %>
        <p>
          <%= image_tag url_for(@article.image), height: 300 %>
        </p>
        <% end %>
        <dl class="dl-horizontal">
          <dt>Files:</dt>
          <dd>
            <% @article.files.each do |file| %>
              <%= link_to file.filename, file, target: :blank %>
            <% end %>
          </dd>
        </dl>
      </div>
</div>

<h3>Add comment</h3>
<%= render 'comments/form' %>

<table class='table table-hover'>
  <thead>
    <tr>
      <td>Commenter</td>
      <td>Comment</td>
    </tr>
  </thead>
  <tbody>
<%= render @article.comments %>
</tbody>
</table>
